<div class="sidebar-container">
  <div class="sidebar-header">
    <h1>VookMark</h1>
    <p>Your own personalize bookmark manager</p>
    <button>Add Bookmark</button>
  </div>
  <div class="sidebar-list">
    <p class="sidebar-list__title">My Collections</p>
    <div
      class="sidebar-list__items"
      *ngFor="let folder of folders">
      <app-folder [folderInformation] = "folder"></app-folder>
    </div>
  </div>
  <div class="sidebar-action"></div>
  <div class="sidebar-copyright">
    <p>Made by Lollypop Lab</p>
    <p>Copyright © 2020 Vookmark. All rights reserved</p>
  </div>
</div>
