:host {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.home {
  margin: 2rem;
  h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(to right,#f05a28,#ec008c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p{
    font-weight: bold;
  }
}
